<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Overload</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">

	<script src="https://use.fontawesome.com/6240c3ded0.js"></script>
</head>

<body>
    <a href="/"><h1 class="game_title" align="center"><i class="fa fa-bomb" aria-hidden="true"></i> AGILE OVERLOAD <i class="fa fa-bomb" aria-hidden="true"></i></h1></a>

    <div class="container">
        <div class="row shell">
            <div class="shell-wrap col-lg-4">
                <p class="shell-top-bar">/agile-overload/</p>
                <ul class="shell-body"></ul>
            </div>
        </div>
        <p><strong>Funding<strong></p>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
        <div id="time">01:00</div>
        <div class="container">
            <div class="row leftbuttons">
			</div>
            <div class="row rightbuttons">
			</div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app.js"></script>
    <script>
        // Initialize socket connection
        var socket = io()

        // Initialize player's playerId
        var playerId

        var width = 100,
            time = $('#time'),
            bar = document.getElementById("myBar"),
            score = $('#score'),
            currentScore = 0


        $(function() {
            // Initialize event listener for the buttons
			document.querySelector('.container').addEventListener('click', event => {
                if(event.target.classList.contains('col-xs-6')){
                    // Send the button's id to the server's socket
                    socket.emit('button', event.target.id)
                }
            })

            // Save the player's id when received from server's socket
			socket.on('id', msg => {
                playerId = msg
                addButtons(playerId)
            })

            // Add received command to the terminal when receiving from server
			socket.on('command', msg => { 
                addCommand(msg)
            })

            // Update the timer and bar when receiving new time from server
			socket.on('timer', msg => {
                time.text(msg[0] + ":" + msg[1])
                moveBar()
            })

            // Update the displayed score
			socket.on('score', msg => {
                currentScore = msg
                score.text(msg)
            })

            // Reset the timer bar when the game ends
			socket.on('end', msg => {
                width = 100

                document.location.href='/gameover?score=' + currentScore
            })
        })
    </script>
</body>

</html>
