<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Overload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="./main.css">
</head>

<body>
  <h1 class="game_title" align="center">💥 AGILE OVERLOAD💥</h1>
  <div class="container">
    <div class="row">
      <div class="shell-wrap col-lg-4">
        <p class="shell-top-bar">/agile-overload/</p>
        <ul class="shell-body">
          <li>cd&nbsp;/Users/</li>
          <li>cd ../../../../</li>
          <li>pwd</li>
          <li>/Users/</li>
        </ul>
      </div>
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <div id="time">

      </div>
      <div class="container">
        <div class="row leftbuttons">
          <button class="b1 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="1">Create User Story</button>
          <button class="b2 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="2">Git Push</button>
          <button class="b3 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="3">Create Epic</button>
          <button class="b4 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="4">Debug</button>
          <button class="b5 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="5">Debug</button>
          <button class="b6 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="6">Debug</button>
        </div>
      <!-- </div> -->
      <!-- <div class="container"> -->
        <div class="row rightbuttons">
          <button class="b7 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="7">Send to SCRUM Master</button>
          <button class="b8 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="8">Get user opinions</button>
          <button class="b9 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="9">Meet with team</button>
          <button class="b10 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="10">DEPLOY</button>
          <button class="b11 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="11">Debug</button>
          <button class="b12 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="12">Debug</button>
        </div>
      <!-- </div> -->
      </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/app.js"></script>
</body>

</html>
