<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Overload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <h1>💥 Agile Overload Game 💥</h1>
    <div class="board">
      <div class="container">
        <div class="jumbotron">
          <h1>Command Console</h1>
          <p>See commands here</p>
        </div>
        <div class="container">
          <div class="row leftbuttons">
            <button class="b1 col-md-4" type="button" name="button">Create User Story</button>
            <button class="b2 col-md-4" type="button" name="button">Git Push</button>
            <button class="b3 col-md-4" type="button" name="button">Create Epic</button>
          </div>
        </div>
        <div class="container">
          <div class="row rightbuttons">
            <button class="b4 col-md-4" type="button" name="button">Send to SCRUM Master</button>
            <button class="b5 col-md-4" type="button" name="button">Get user opinions</button>
            <button class="b6 col-md-4" type="" name="button">Meet with team</button>
          </div>
      </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
