<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Overload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://use.fontawesome.com/6240c3ded0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <h1 class="game_title" align="center"><i class="fa fa-bomb" aria-hidden="true"></i> AGILE OVERLOAD <i class="fa fa-bomb" aria-hidden="true"></i></h1>

    <div class="container">
        <div class="row shell">
            <div class="shell-wrap col-lg-4">
                <p class="shell-top-bar">/agile-overload/</p>
                <ul class="shell-body">
                    <!-- <li>cd&nbsp;/Users/</li>
                    <li>cd ../../../../</li>
                    <li>pwd</li>
                    <li>/Users/</li> -->
                </ul>
            </div>
        </div>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
        <div id="time">01:00</div>
        <div class="container">
            <div class="row leftbuttons">
                <!-- <button class="b1 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="1">Create User Story</button>
                <button class="b2 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="2">Git Push</button>
                <button class="b3 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="3">Create Epic</button>
                <button class="b4 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="4">Debug</button>
                <button class="b5 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="5">Debug</button>
                <button class="b6 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="6">Debug</button> -->
            </div>
            <div class="row rightbuttons">
                <!-- <button class="b7 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="7">Send to SCRUM Master</button>
                <button class="b8 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="8">Get user opinions</button>
                <button class="b9 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="9">Meet with team</button>
                <button class="b10 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="10">DEPLOY</button>
                <button class="b11 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="11">Debug</button>
                <button class="b12 col-xs-6 col-sm-4 col-md-2 col-lg-2" type="button" name="button" id="12">Debug</button> -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app.js"></script>
    <script>
        // Initialize socket connection
        var socket = io()

        // Initialize player's playerId
        var playerId

        var width = 0,
            time = $('#time'),
            bar = document.getElementById("myBar"),
            score = $('#score')

        $(function() {
            // Initialize event listener for the buttons
            document.querySelector('.container').addEventListener('click', function(event) {
                if (event.target.classList.contains('col-xs-6')) {
                    // Send the button's id to the server's socket
                    socket.emit('button', event.target.id)
                }
            })

            // Save the player's id when received from server's socket
            socket.on('id', function(msg) {
                console.log(msg)
                playerId = msg
                addButtons(playerId)
            })

            // Add received command to the terminal when receiving from server
            socket.on('command', function(msg) {
                console.log(msg)
                addCommand(msg)
            })

            // Update the timer and bar when receiving new time from server
            socket.on('timer', function(msg) {
                time.text(msg[0] + ":" + msg[1])
                moveBar()
            })

            // Update the displayed score
            socket.on('score', function(msg) {
                console.log(msg)
                score.text(msg)
            })
        })
    </script>
</body>

</html>
