<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {{#each data}}
  <title>{{playername}}</title>
  {{/each}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script src="https://use.fontawesome.com/6240c3ded0.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <a class="" href="/"> <h1  class="game_title" align="center"><i class="fa fa-bomb" aria-hidden="true"></i> AGILE OVERLOAD <i class="fa fa-bomb" aria-hidden="true"></i></h1></a>
  <div>
    <h1>GAME OVER</h1>
    {{#if data.newHighScore}}
      <h1>💥 New Highscore! 💥</h1>
    {{/if}}
      <h3>Username: {{data.playername}}</h3>
      <h4>Score: {{data.newScore}}</h4>

      <p>{{data.id}}</p>

  </div>
  <script>


  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/app.js"></script>
  </body>
</html>
