<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Overload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <h1>💥 Overload Game 💥</h1>
    <div class="board">
      <div class="container">
        <div class="jumbotron">
          <h1>Command Console</h1>
          <p>See commands here</p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
