<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Overload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="./main.css">
</head>

<body>
  <h1 class="game_title" align="center">💥 AGILE OVERLOAD💥</h1>
  <div class="board">
    <div class="container">
      <div class="shell-wrap">
        <p class="shell-top-bar">/agile-overload/</p>
        <ul class="shell-body">
          <li>cd&nbsp;/Users/</li>
          <li>cd ../../../../</li>
          <li>pwd</li>
          <li>/Users/</li>
        </ul>
      </div>
      <div class="container">
        <div class="row leftbuttons">
          <button class="b1 col-md-3" type="button" name="button" id="1">Create User Story</button>
          <button class="b2 col-md-3" type="button" name="button" id="2">Git Push</button>
          <button class="b3 col-md-3" type="button" name="button" id="3">Create Epic</button>
          <button class="b4 col-md-3" type="button" name="button" id="4">Debug</button>
        </div>
      </div>
      <div class="container">
        <div class="row rightbuttons">
          <button class="b5 col-md-3" type="button" name="button" id="5">Send to SCRUM Master</button>
          <button class="b6 col-md-3" type="button" name="button" id="6">Get user opinions</button>
          <button class="b7 col-md-3" type="button" name="button" id="7">Meet with team</button>
          <button class="b8 col-md-3" type="button" name="button" id="8">DEPLOY</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/app.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(function() {
      var socket = io()

      document.querySelector('.container').addEventListener('click', function(event) {
        if(event.target.classList.contains('col-md-3')){
            socket.emit('button', event.target.id)
        }
      })

      socket.on('button', function(msg) {
          console.log(msg)
      })
  })
  </script>
</body>

</html>
