<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="229545640899-jvj838koibku2414l5mjlo00ci0hb35s.apps.googleusercontent.com">
    <title>Overload Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <h1 class="game_title" align="center">💥 AGILE OVERLOAD 💥</h1>
    <div class="container">
        <div class="col-lg-3">
        </div>


        <form class="sign-in-form col-lg-6" action="/user" method="POST">
            <div class="form-group">
                <!-- <label for="signUp">Sign Up</label>
                <input type="text" name="playername" class="form-control" id="email" placeholder="email">
                <input type="text" name="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="form-group">
              <label for="signIn">Sign In</label>
              <input type="text" name="playername" class="form-control" id="email" placeholder="email">
              <input type="text" name="password" class="form-control" id="password" placeholder="password">
            </div> -->
            <!-- <button type="submit"  class="btn btn-sm" align="center">Play Game</button> -->

            <div data-id="{{playername}}" class="g-signin2" data-onsuccess="onSignIn"></div>

        </form>
        <div class="col-lg-3"></div>
      </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app.js"></script>
    <!-- <script>
    $('document').ready(){
      onSignIn(googleUser)
    }
    </script> -->
</body>

</html>
