<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="229545640899-jvj838koibku2414l5mjlo00ci0hb35s.apps.googleusercontent.com">
    <title>Overload Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://use.fontawesome.com/6240c3ded0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <h1 class="game_title" align="center"><i class="fa fa-bomb" aria-hidden="true"></i> AGILE OVERLOAD <i class="fa fa-bomb" aria-hidden="true"></i></h1>
    {{#if login}}
      <h1 class="error-messages">{{login}}</h1>
    {{/if}}
    <div class="container">
        <div class="col-lg-3">
        </div>


        <form class="sign-up-form col-lg-6" action="/signup" method="POST">
            <div class="form-group">
                <label for="signUp">Sign Up</label>
                <input type="text" name="playername" class="form-control" id="email" placeholder="email" required>
                <input type="password" name="password" class="form-control" id="password" placeholder="password" required>
                <button type="submit"  class="btn btn-sm" align="center">Create an Account</button>
            </div>
        </form>
        <form class="sign-in-form col-lg-6" action="/login" method="post">
          <div class="form-group">
            <label for="signIn">Sign In</label>
            <input type="text" name="playername" class="form-control" id="email" placeholder="email" required>
            <input type="password" name="password" class="form-control" id="password" placeholder="password" required>
          </div>
          <button type="submit"  class="btn btn-sm" align="center">Play Game</button>
        </form>

            <div data-id="{{playername}}" class="g-signin2" data-onsuccess="onSignIn"></div>
            <!-- <div class="about">
              <p>You and your team are developing a product, work together with your SCRUM master to be as agile as possible to keep the funding going, if your funding runs out, you lose!</p>
            </div>

        </form>
        <div class="col-lg-3"></div>
      </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/app.js"></script>
    <script>
    $('document').ready(){
      onSignIn(googleUser)
    }
    </script> -->
</body>

</html>
