<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Overload Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <h1 align="center">💥 AGILE Overload Game 💥</h1>
    <div class="container">
        <div class="col-lg-3">bullshit</div>
        <form class="sign-in-form col-lg-6">
            <div class="form-group">
                <label for="email">Enter Username</label>
                <input type="email" class="form-control" id="email" placeholder="Username" required>
            </div>
            <!-- <button type="submit" class="btn btn-sm" align="center">Log In</button> -->
            <a href="/game" role="button">Play Game</a>
        </form>
        <div class="col-lg-3">more bullshit</div>
      </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>
