<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Overload Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
  <h1 align="center">💥 Overload Game 💥</h1>
  <div class="container">
    <div class="col-lg-3">bullshit</div>
    <form class="sign-in-form col-lg-6">
      <div class="form-group">
        <label for="email">Enter Your Email or Username</label>
        <input type="email" class="form-control" id="email" placeholder="email" required>
      </div>
      <div class="form-group">
        <label for="password">Enter Your Password</label>
          <input type="password" class="form-control" id="password" placeholder="password" required>
      </div>
        <button type="submit" class="btn btn-sm" align="center">Log In</button>
    </form>
    <div class="col-lg-3">more bullshit</div>
    </div>
</body>

</html>
