<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="./main.css">
  <title>AGILE OVERLOAD</title>
</head>

<body class="splash">
  <div class="callOut">
    <h1 class="game_title" align="center">💥 AGILE OVERLOAD 💥</h1>
  </div>
  <main class="main_art">
    <div class="container">
      <div class="row">
        <div id="gif" class="col-md-6">
          <!-- <img src="http://giphy.com/embed/5wWf7GW1AzV6pF3MaVW" alt=""> -->
        </div>
        <div class="col-lg-8" align="center">
          <strong><a href="/login" class="">Login Here</a></strong>
        </div>
      </div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/app.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io();
  </script>
</body>

</html>
