<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{username}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./main.css">
</head>
  <body>
    {{#each data}}
    <h3>Username: {{username}}</h3>
    <h4>Highscore: {{score}}</h4>
    {{/each}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
  </body>
</html>
