body{
  background: midnightblue;
  color: dimgrey;
  font: 2em 'Andale Mono', Consolas, 'Courier New';
}

.splash{
  background: rgba(66, 63, 65, 0.1);
}

.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    position: relative;
    bottom: 580px;
    left: 175px;
    border-radius: 50%;
}

.game_title{
  font-family: 'Press Start 2P', cursive;
}

.sign-in-form{
  padding: 10px;
}

.btn {
  display: block;
  margin: 0 auto;
  color: black;
}

.b1 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
}

.b2 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
  }

.b3 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
  }

.b4 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
}

.b5 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
}

.b6 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
}

.b7 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
}

.b8 {
  border: solid darkblue 2px;
  width: 50%;
  height: 15vh;
}

button:hover {
  background-color: red;
}

  /*game terminal*/

.shell-wrap {
  width: 500px;
  margin: 50px auto 0 auto;
  padding-bottom: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
}

.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 1em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}

#gif {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}
