body{
  background: midnightblue;
  color: dimgrey;
}

.game_title{
  font-family: 'Press Start 2P', cursive;
}

.sign-in-form{
  padding: 10px;
}

.btn {
    display: block;
    margin: 0 auto;
    color: black;
}

.b1 {
  border: solid darkblue 2px;
    width: 50%;
    height: 15vh;

}

.b2 {
  border: solid darkblue 2px;
      width: 50%;
      height: 15vh;
  }

.b3 {
  border: solid darkblue 2px;
      width: 50%;
      height: 15vh;
  }

  .b4 {
      border: solid darkblue 2px;
      width: 50%;
      height: 15vh;
  }

  .b5 {
      border: solid darkblue 2px;
      width: 50%;
      height: 15vh;
  }

  .b6 {
      border: solid darkblue 2px;
      width: 50%;
      height: 15vh;
  }

  .b7 {
    border: solid darkblue 2px;
    width: 50%;
    height: 15vh;
  }

  .b8 {
    border: solid darkblue 2px;
    width: 50%;
    height: 15vh;
  }

  button:hover {
    background-color: red;
  }
