body{
  background-color: wheat;
  color: dimgrey;
  font: 1.5em 'Andale Mono', Consolas, 'Courier New';
  height: 100%;
  background: url(graph.png) repeat;
  background-size: 10%;
  /*overflow: hidden;*/
}

.splash{
  background: #E5E5E5;
}

.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    font-size: 10px;
    line-height: 1.33;
    position: relative;
    bottom: 580px;
    left: 175px;
    border-radius: 50%;
}

.game_title{
  font-family: 'Press Start 2P', cursive;
}

.sign-in-form{
  padding: 10px;
}

.btn {
  display: block;
  margin: 0 auto;
  color: black;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10,.b11,.b12 {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-right: -4px;
}



button:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.b1:before, .b2:before, .b3:before,.b4:before,.b5:before,.b6:before,.b7:before,.b8:before,.b9:before,.b10:before,.b11:before,.b12:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

button:focus {
  outline: none;

}

#signin {
  border-radius: none;
}


  /*game terminal*/

.shell-wrap {
  width: 500px;
  margin: 50px auto 0 auto;
  padding-bottom: 10px;
  /*box-shadow: 0 0 30px rgba(0,0,0,0.4);*/

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
}

.shell-body {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  font: 1em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.shell-body > li {
    color: #EE0000;
}

.shell-body > li:last-child {
    color: #45D40C;
}

.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}

#gif {
  width: 80%;
  height: 80%;
  text-align: right;
}

img {
  width: 80%;
  height: 80%;
  position: relative;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 100%;
    height: 30px;
    background-color: green;
}

a {
  position: relative;
  left: 20%;
}

.about {
  margin-top: 10px;
}

.bomb {
    width: 10%;
    height: 80%;
    position: relative;
    margin-top: 250px;
    margin-right: 325px;
    padding-bottom: 250px;
}

.splash-text {
    position: relative;
    left: 25%;
}

.form-group {
  margin-top: 200px;
}
